@use "../../../../../assets/styles/mixins" as mixin;

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  .icon {
    font-size: 30px;
    @include mixin.xs-medium {
      font-size: 20px;
    }
  }
}
