.aboutContainer {
  padding: 20px;
  background-color: var(--gold);
  .aboutContent {
    color: var(--dark);
    .aboutIntroduction {
      max-width: 1200px;
      text-align: left;
      line-height: 30px;
    }
  }
}
