.aboutContainer {
  width: 100vw;
  padding: 20px 50px;
  background-color: var(--gold);
  .aboutContent {
    color: var(--dark);
    .aboutIntroduction {
      text-align: left;
      line-height: 30px;
    }
  }
}
