:root {
  --dark: #1d2731;
  --grey-light: #ddd;
  --dark-transparent: rgb(29, 39, 49, 0.8);
  --gold: #d9b310;
  --gold-transparent: rgb(217, 179, 16, 0.8);
  --gold-transparent-04: rgb(217, 179, 16, 0.4);
  --prink: #fd50f2;
  --skyBlue: #328cc1;
  --skyBlue-transparent: rgb(50, 140, 193, 0.8);
  --prussianBlue: #0b3c5d;
  --prussianBlue-transparent-09: rgb(11, 60, 93, 0.9);
  --prussianBlue-transparent-04: rgb(11, 60, 93, 0.4);
  --font-family: "Assistant", sans-serif;
  --second-font-familly: "Goudy Bookletter 1911", serif;
  --border-radius: 2px;
}
